.recipie-collection {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    margin-bottom: 3vh;
    height: 18vh;
    background-color: #f0f0f0;
    border-radius: 3vmin;
    overflow: hidden;
    background-size: cover;
    background-position: center;
}

/* Pseudo element to act as an overlay over the container to control the opacity of bg img*/
.recipie-collection::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0; 
}

.recipie-collection h2, p {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
}

.options-icon-container {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: flex-end;
}

.recipie-collection .options-icon{
    position: absolute;
    margin-right: 3%;
    margin-top: 1%;
}

/* To override the a-tags default styling */
.collection-link {
    text-decoration: none;
    color: #ffffff;
}