h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.ingredients-container {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ingredient {
    display: flex;
    align-items: center;
    margin: 1.5vh 0;
    padding: 1rem;
    color: #616161;
    background-color: #f0f0f0;
    font-size: 1.3rem;
    border-radius: 0.5rem;
}