.instructions-container {
    margin: 0;
    padding: 0;
    list-style: none;
}

.instruction {
    display: flex;
    align-items: flex-start;
    margin: 2vh 0;
    padding: 1rem;
    color: #616161;
    background-color: #f0f0f0;
    font-size: 1.3rem;
    border-radius: 0.5rem;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
}

/* Manual adjustment to make checkbox and text align more appealingly to the eye */
.instruction .checkbox-icons {
    margin-top: 4px;
}